.header{
    height: 1.7rem;
    padding-top:1.4rem;
    padding-bottom:1.4rem;
    border-top:1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.header .nav{
    float: left;
    display: block;
    width: 1.8rem;
    height: 1.6rem;
    margin-left:1.8rem;
    margin-right: 1rem;
}
.header .nav a{
    display: block;
    width: 1.8rem;
    height: 1.6rem;
}
.header .nav a img{
    display: block;
    width: 1.8rem;
    height: 1.6rem;
}
.header .nav ul{
    background: #ffffff;
    left:2rem;
    top:0;
    width: 30rem;
    height: 1.7rem;
    line-height: 1.7rem;
}
.header .nav ul li{
    float: left;
    width:5rem;
}
.header .nav ul li a{
    display: block;
    width:7rem;
    text-align: center;
    font-size: 1.4rem;
}
.header .bar{
    width: 0.1rem;
    height: 1.7rem;
    float: left;
    background: url("../images/vertical-bar.jpg") repeat-y left top;
    -webkit-background-size:100%;
    background-size:100%;
}
.header .logo{
    width: 8.7rem;
    height: 1.7rem;
    float: left;
    background: url("../images/logo.png") no-repeat left top;
    margin-left: 0.7rem;
    -webkit-background-size:100%;
    background-size:100%;
    text-indent: -10000rem;
}
.header .avatar{
    width: 1.7rem;
    height: 1.7rem;
    float: right;
    background: url("../images/avatar.jpg") no-repeat left top;
    margin-right: 2rem;
    -webkit-background-size:100%;
    background-size:100%;
}

.feature{
    height: 35rem;
    background: url("../images/feature.jpg") no-repeat left top;
    -webkit-background-size:contain;
    background-size:contain;
}
.feature-introduce{
    width: 11.7rem;
    padding: 7rem 0 0 3rem;
    font-weight: bold;
    color:#757371;
}

.feature-introduce p{
    margin-bottom: 1rem;
}
.feature-introduce span{
    display:block;
    float: left;
    font-weight:normal;
}

.font30{
    height: 3rem;
    font-size: 3rem;
    line-height: 3rem;
}
.font23{
    height:2.2rem;
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding-top: 0.3rem;
}
.font14{
    height: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.feature-point{
    width: 20rem;
    height: 18.4rem;
    margin-top: 5rem;
    background: url("../images/feature-point.png") no-repeat left top;
    background-size: 100%;
}

.solve{
    height: 35rem;
    background: url("../images/solve.jpg") no-repeat left top;
    -webkit-background-size:contain;
    background-size:contain;
}
.solve-introduce{
    width: 12.6rem;
    height: 5.2rem;
    padding: 10rem 0 0 1.3rem;
}
.solve-introduce img{
    width: 12.6rem;
    height: 5.2rem;
}
.solve-point{
    left:0;
    bottom:0;
    width: 100%;
    height: 5rem;
}
.solve-point img{
    width: 100%;
    height: 5rem;
}

.finance{
    height: 35rem;
    background: url("../images/finance.jpg") no-repeat left top;
    -webkit-background-size:contain;
    background-size:contain;
}
.finance-introduce{
    width: 12.6rem;
    height: 5.2rem;
    padding: 9rem 0 0 23rem;
}
.finance-introduce img{
    width: 12.6rem;
    height: 5.2rem;
}
.finance-point{
    left:0;
    bottom:0;
    width: 100%;
    height: 5rem;
}
.finance-point img{
    width: 100%;
    height: 5rem;
}

.wallet{
    height: 35rem;
    background: url("../images/wallet.jpg") no-repeat left top;
    -webkit-background-size:contain;
    background-size:contain;
}
.wallet-introduce{
    width: 12.6rem;
    height: 5.2rem;
    padding: 10rem 0 0 1.3rem;
}
.wallet-introduce img{
    width: 12.6rem;
    height: 5.2rem;
}
.wallet-point{
    left:0;
    bottom:0;
    width: 100%;
    height: 5rem;
}
.wallet-point img{
    width: 100%;
    height: 5rem;
}

.connection{
    background: #eee;
    padding:2.8rem 0 2.4rem 1rem;
}
.connection h3{
    color: #676664;
    font-size: 1.4rem;
}
.connection .coop{
    padding:1.5rem 0 1rem 0;
}
.connection .coop img{
    float: left;
    width:7.9rem;
    height:2.3rem;
    padding-right:1.2rem;
    padding-bottom: 0.8rem;
}
.connection p{
    color: #676664;
    height:2.3rem;
    line-height: 2.3rem;
    font-size: 1rem;
}
.footer .right{
    background: #3a3a3a;
    color:#ffffff;
    font-size: 1.1rem;
    padding-top:3rem;
    padding-bottom: 2rem;
}
.footer .right p{
    text-align: center;
    padding-bottom: 1rem;
}

